RewriteEngine On
#RewriteBase /
RewriteRule ^([-a-zA-Z0-9]+)?$ index.php?action=$1
RewriteRule ^([-a-zA-Z0-9]+)/?$ index.php?action=$1

RewriteRule ^([-a-zA-Z0-9]+)/([-a-zA-Z0-9]+)/?$ index.php?action=$1&x=$2 [QSA]
RewriteRule ^([-a-zA-Z0-9]+)/([-a-zA-Z0-9]+)/([-a-zA-Z0-9]+)/?$ index.php?action=$1&x=$2&y=$3 [QSA]